@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body{
  background: url('./images/Background_Image.jpeg');
  background-position: 0 1000px;
  font-family: 'Roboto', sans-serif;
}
  
